* {
            font-family: 'Noto Sans KR', sans-serif;
        }
       .container-fluid {
          padding: 50px 10%;
        }
        
        .card-header {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          background-color: #ffe98c;
          color: #000;
          height: 70px;
        }
        
        .card-footer {
          background-color: #F5F5F5;
        }
        
        .list-group-item {
          margin-bottom: 0.75rem !important;
          border-radius: 10px;
          overflow: hidden;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          transition: all 0.3s ease;
          font-size: 1.2em;
          padding-top: 1.2rem !important;
          padding-bottom: 1.2rem !important;
        }
        
        .list-group-item2 {
          margin-bottom: 0.75rem !important;
          border-radius: 10px;
          overflow: hidden;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          transition: all 0.3s ease;
          font-size: 0.95em;
        }
        
        .list-group-item .list-group-item2 .info-label {
          display: inline-block;
          width: 100px;
          font-weight: bold;
          margin-right: 1rem;
        }
        
        .list-group-item .list-group-item2 .info-value {
          display: inline-block;
          margin-right: 2rem;
        }
        
        .list-group-item:hover, .list-group-item2:hover {
          transform: translateY(-5px);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
        }
        
        .list-group-item a, .list-group-item2 a {
          color: #333;
          text-decoration: none;
          display: block;
          padding: 0.5rem;
        }
        
        .list-group-item a:hover, .list-group-item2 a:hover {
          color: #555;
        }
        
        .list-group-item:before,
        .list-group-item:after, 
        .list-group-item2:before,
        .list-group-item2:after  {
          content: "";
          position: absolute;
          width: 5px;
          height: 100%;
          left: 0;
          background-color: #ffe98c;
          transform: translateY(-100%);
          transition: transform 0.3s ease;
        }
        
        .list-group-item:before, .list-group-item2:before {
          top: 0;
        }
        
        .list-group-item:after, .list-group-item2:after {
          bottom: 0;
          transform: translateY(100%);
        }
        
        .list-group-item:hover:before,
        .list-group-item:hover:after,
        .list-group-item2:hover:before,
        .list-group-item2:hover:after{
          transform: translateY(0);
        }
        
        .info-label {
          display: inline-block;
          width: 100px;
          font-weight: bold;
        }
        .info-value {
          display: inline-block;
        }
        
        /* 추가 스타일 */
        .btn-custom {
            color: white;
            background-color: #60626C;
        }
        .btn-custom:hover {
            background-color: #ffe98c;
            color: black;
        }