<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- SQL문 정의할 때 VO표현을 간단하게 하고 싶은 경우. 
     별명을 지어서 사용 -->
   <typeAliases>
		<typeAlias type="com.multi.withPuppy.communities.CommunitiesVO" alias="communitiesVO"></typeAlias>
		<typeAlias type="com.multi.withPuppy.communities.ReplyVO" alias="replyVO"></typeAlias>
		<typeAlias type="com.multi.withPuppy.communities.PageVO" alias="pageVO"></typeAlias>
		
		<typeAlias type="com.multi.withPuppy.shopping.ProductVO" alias="productVO"></typeAlias>
		
		<typeAlias type="com.multi.withPuppy.shopping.CategoryVO" alias="categoryVO"></typeAlias>
		
		<typeAlias type="com.multi.withPuppy.shopping.OrderVO" alias="orderVO"></typeAlias>
		<typeAlias type="com.multi.withPuppy.shopping.Order_detailVO" alias="order_detailVO"></typeAlias>
		<typeAlias type="com.multi.withPuppy.shopping.CartVO" alias="cartVO"></typeAlias>
		<typeAlias type="com.multi.withPuppy.shopping.StatisticsVO" alias="statisticsVO"></typeAlias>
		<typeAlias type="com.multi.withPuppy.shopping.StatisticsPeriodVO" alias="statisticsPeriodVO"></typeAlias>
		
		<typeAlias type="com.multi.withPuppy.petservice.PetserviceVO" alias="petserviceVO"></typeAlias>
		<typeAlias type="com.multi.withPuppy.petservice.StarVO" alias="starVO"></typeAlias>
		
		<typeAlias type="com.multi.withPuppy.petservice.OcrVO" alias="ocrVO"></typeAlias>
		<typeAlias type="com.multi.withPuppy.petservice.BillVO" alias="billVO"></typeAlias>
		<typeAlias type="com.multi.withPuppy.petservice.Bill_detailVO" alias="bill_detailVO"></typeAlias>
		
		<typeAlias type="com.multi.withPuppy.user.UserVO" alias="userVO"></typeAlias>
		<typeAlias type="com.multi.withPuppy.user.PetVO" alias="petVO"></typeAlias>
		
		<typeAlias type="com.multi.withPuppy.cs.FaqVO" alias="faqVO"></typeAlias>
		<typeAlias type="com.multi.withPuppy.cs.AskVO" alias="askVO"></typeAlias>
		<typeAlias type="com.multi.withPuppy.cs.AnswerVO" alias="answerVO"></typeAlias>
		<typeAlias type="com.multi.withPuppy.cs.NoticeVO" alias="noticeVO"></typeAlias>
		<typeAlias type="com.multi.withPuppy.main.User_menuVO" alias="user_menuVO"></typeAlias>
		
		<typeAlias type="com.multi.withPuppy.report.ReportVO" alias="reportVO"></typeAlias>
	</typeAliases>
   <mappers>
		<mapper resource="mapper/communitiesMapper.xml" />
		<mapper resource="mapper/replyMapper.xml" />
		
		<mapper resource="mapper/productMapper.xml" />
		<mapper resource="mapper/orderMapper.xml" />
		<mapper resource="mapper/order_detailMapper.xml" />
		<mapper resource="mapper/cartMapper.xml" />
		<mapper resource="mapper/manageMapper.xml" />
		<mapper resource="mapper/statisticsMapper.xml" />
		
		<mapper resource="mapper/petserviceMapper.xml" />
		<mapper resource="mapper/starMapper.xml" />
		
		<mapper resource="mapper/billMapper.xml" />
		<mapper resource="mapper/bill_detailMapper.xml" />
		
		<mapper resource="mapper/userMapper.xml" />
		<mapper resource="mapper/petMapper.xml" />
		
		<mapper resource="mapper/faqMapper.xml" />
		<mapper resource="mapper/askMapper.xml" />
		<mapper resource="mapper/answerMapper.xml" />
		<mapper resource="mapper/noticeMapper.xml" />
		<mapper resource="mapper/user_menuMapper.xml" />
		
		<mapper resource="mapper/reportMapper.xml" />
	</mappers>
</configuration>
