<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Answer">
	<!-- insert, delete, update는 무조건 resultType="int"이므로
		프로그래머가 써주지 않아도 이미 resultType="int"가 있는 것으로 본다!
	-->
	<insert id="create" parameterType="AnswerVO">
		insert into answer values (null, #{ask_no}, #{ans_content}, #{ans_writer}, now(), null, null, null, null)
	</insert>
	
	<delete id="del"  parameterType="Integer">
		delete from answer where ans_no = #{ans_no}
	</delete>
	
	<update id="up"  parameterType="AnswerVO">
		update answer set ans_content = #{ans_content} where ans_no = #{ans_no}
	</update>
	
	<select id="one"  parameterType="Integer" resultType="AnswerVO">
		select * from answer where ask_no = #{ask_no}
	</select>
	
	<select id="all" resultType="AnswerVO">
		select * from answer
	</select>
	
</mapper>