<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Bill_detail">
	
	<!-- 등록된 개별 진료비 전체 갯수 -->
	<select id="count" resultType="Integer">
		select count(bill_no) from bill_detail
	</select>
	
	<select id="one"  parameterType="String" resultType="Bill_detailVO">
		select * from bill_detail where bill_dx = #{bill_dx} limit 1
	</select>
	
	<select id="minTotal" parameterType="String" resultType="Integer">
		select min(bill_fee) from bill_detail where bill_dx = #{bill_dx}
	</select>
	
	<select id="avgTotal" parameterType="String" resultType="Integer">
		select avg(bill_fee) from bill_detail where bill_dx = #{bill_dx}
	</select>
	
	<select id="maxTotal" parameterType="String" resultType="Integer">
		select max(bill_fee) from bill_detail where bill_dx = #{bill_dx}
	</select>
	
	<select id="minSido" parameterType="Map" resultType="Integer">
		select min(bill_fee) from bill 
		inner join bill_detail on bill.bill_no = bill_detail.bill_no 
		where bill_dx = #{bill_dx} and bill_addr like CONCAT(#{bill_addr}, '%')
	</select>
	
	<select id="avgSido" parameterType="Map" resultType="Integer">
		select avg(bill_fee) from bill 
		inner join bill_detail on bill.bill_no = bill_detail.bill_no 
		where bill_dx = #{bill_dx} and bill_addr like CONCAT(#{bill_addr}, '%')
	</select>
	
	<select id="maxSido" parameterType="Map" resultType="Integer">
		select max(bill_fee) from bill 
		inner join bill_detail on bill.bill_no = bill_detail.bill_no 
		where bill_dx = #{bill_dx} and bill_addr like CONCAT(#{bill_addr}, '%')
	</select>
	
	<select id="minGugun" parameterType="Map" resultType="Integer">
		select min(bill_fee) from bill 
		inner join bill_detail on bill.bill_no = bill_detail.bill_no 
		where bill_dx = #{bill_dx} and bill_addr like CONCAT('% ', #{bill_addr}, ' %')
	</select>
	
	<select id="avgGugun" parameterType="Map" resultType="Integer">
		select avg(bill_fee) from bill 
		inner join bill_detail on bill.bill_no = bill_detail.bill_no 
		where bill_dx = #{bill_dx} and bill_addr like CONCAT('% ', #{bill_addr}, ' %')
	</select>
	
	<select id="maxGugun" parameterType="Map" resultType="Integer">
		select max(bill_fee) from bill 
		inner join bill_detail on bill.bill_no = bill_detail.bill_no 
		where bill_dx = #{bill_dx} and bill_addr like CONCAT('% ', #{bill_addr}, ' %')
	</select>
	
</mapper>