<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cart">
	
	<insert id="add" parameterType="cartVO" >
		insert into cart  
		values (null, #{product_id}, #{product_cnt}, #{user_id})
	</insert>
	
	<delete id="delete"  parameterType="cartVO">
		delete from cart 
		where cart_id = #{cart_id} and user_id = #{user_id}
	</delete>
	
	<update id="update"  parameterType="cartVO">
		update cart 
		set product_cnt = #{product_cnt} 
		where product_id = #{product_id} and user_id = #{user_id}
	</update>
	
	<select id="all" parameterType="String" resultType="cartVO">
		select *
		from cart where user_id = #{user_id}
	</select>
	
	<!-- 원래는 파라미터로 user_id가져와야함 -->
	<select id="allProduct" parameterType="String" resultType="productVO">
		select p.product_id, c.cart_id, product_name, product_price, detail, product_img, c.product_cnt, p.soldout_YN, p.status 
		from product p left join cart c 
		on(p.product_id = c.product_id) 
		where c.user_id = #{user_id} and p.soldout_YN ='N' and p.status ='판매중' 
		order by p.product_id
	</select>
	
	<select id="emptyCheck" parameterType="cartVO" resultType="Int"> 
		select count(product_id) from cart 
		where user_id = #{user_id} and product_id = #{product_id} 
	</select>

</mapper>