<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="communities">
	<!-- insert, delete, update는 무조건 resultType="int"이므로
	     프로그래머가 써주지 않아도 이미 resultType="int"가 
	     있는 것으로 본다.!
	 -->
	<insert id="insert" parameterType="communitiesVO">
		insert into communities  (commu_id, commu_no , commu_title, commu_content, commu_img, category1 , commu_view	)
		values (#{commu_id}, null , #{commu_title}, #{commu_content}, #{commu_img} , #{category1} , #{commu_view}	)
	</insert>
	
	<delete id="del"  parameterType="Int">
		delete from communities where commu_no = #{commu_no}
	</delete>
	
	<update id="up"  parameterType="communitiesVO">
		update communities set commu_title = #{commu_title} , commu_content = #{commu_content} where commu_no = #{commu_no}
	</update>
	
	<select id="one" parameterType="communitiesVO" resultType="communitiesVO">
		select * 
		from communities
		where commu_no = #{commu_no}
	</select>
	
	<select id="list" parameterType="pageVO" resultType="communitiesVO">
		select*from (
			select ROW_NUMBER() over(order by commu_no desc) as c_no , commu_no,commu_title,commu_date,commu_id,commu_view 
			from communities c) c2
			where c2.c_no between ${start} and ${end}
	</select>

	<select id="list_category" parameterType="pageVO" resultType="communitiesVO">
		select*from (
			select ROW_NUMBER() over(order by commu_no desc) as c_no , commu_no,commu_title,commu_date,commu_id,commu_view 
			from communities c) c2
			where c2.c_no between ${start} and ${end}
	</select>
	
	<select id="count" resultType="Integer">
		select count(*) from communities
	</select>
	
</mapper>



