<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="communities">
	<!-- insert, delete, update는 무조건 resultType="int"이므로
	     프로그래머가 써주지 않아도 이미 resultType="int"가 
	     있는 것으로 본다.!
	 -->
	<insert id="create" parameterType="CommunitiesVO">
		insert into communities values (#{commu_id}, null , #{commu_title}, #{commu_content})
	</insert>
	
	<delete id="del"  parameterType="Int">
		delete from communities where commu_no = #{commu_no}
	</delete>
	
	<update id="up"  parameterType="CommunitiesVO">
		update communities set content = #{content} where commu_no = #{commu_no}
	</update>
	<select id="one"	parameterType="String" resultType="CommunitiesVO">
		select* 
		from communities
		where id = #{commu_id}
	</select>
	<select id="all" resultType="CommunitiesVO">
		select*
		from communities
	</select>
</mapper>



