<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="manage">

	<delete id="delete"  parameterType="Int">
		delete from product 
		where product_id = #{product_id}
	</delete>
	
	<select id="all" resultType="productVO">
		select * from product
	</select>
	
	<select id="search" parameterType="productVO" resultType="productVO">
		select  * from product where product_name like #{product_name}
	</select>
	
	<select id="allCnt" resultType="Int">
		select count(product_id) from product 
	</select>
	
	<select id="allCatePage" parameterType="categoryVO" resultType="productVO">
		select * from (
		select row_number() over(order by product_id) as p_no, p.* from product p 
		) p2
		where p_no between #{start_num} and #{end_num}
	</select>
	
</mapper>