<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pet">
	<insert id="insertPet" parameterType="petVO" >
		insert into pet (pet_owner, pet_name, pet_birth, pet_kind, pet_weight, pet_img)  
		values (#{pet_owner}, #{pet_name}, #{pet_birth}, #{pet_kind}, #{pet_weight}, #{pet_img})
	</insert>
	
	<delete id="deletePet">
		delete from pet 
		where pet_no = #{pet_no}
	</delete>
	
	<select id="petList" parameterType="String" resultType="petVO">
		select *
		from pet where pet_owner = #{pet_owner}
	</select>
	
</mapper>



