<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">
	
	<!-- 상세페이지 -->
	<select id="one" parameterType="Int" resultType="productVO">
		select * 
		from product
		where detail = #{id}
	</select>
	
	<!-- 상품 추가 - 관리자페이지에서 사용 -->
	<insert id="insert" parameterType="productVO">
		insert into product values (null, #{product_name},#{product_price}, 1, #{category2},#{detail},#{product_img},#{product_cnt})
	</insert>
	
	<update id="update" parameterType="productVO">
		UPDATE product SET product_name = #{product_name},product_price =#{product_price},category2 =#{category2},product_img =#{product_img},product_cnt =#{product_cnt} WHERE product_id = #{product_id}
	</update>

	<!-- 관리자 상품 수정용 가져오기 -->
	<select id="bringOne" parameterType="Int" resultType="productVO">
		select * 
		from product
		where product_id = #{p_id}
	</select>
	
	<!-- 페이징용 카테고리별 데이터 갯수 가져오기 -->
	<select id="allCnt" parameterType="categoryVO" resultType="Int">
		select count(product_id) from product
		<![CDATA[
				where category2 <= #{end} and category2 >= #{start}
			]]>
	</select>
	
	<select id="all"  resultType="productVO">
		select *
		from product
	</select>
	
	<!-- 쇼핑몰 리스트 기본순-->
	<select id="dogcate1" parameterType="categoryVO" resultType="productVO">
		select * from (
		select row_number() over(order by product_id) as p_no, p.* from product p 
			<![CDATA[
				where category2 <= #{end} and category2 >= #{start}
			]]>) p2
		where p_no between #{start_num} and #{end_num}
	</select>
	
	<!-- 쇼핑몰 리스트 가격 저렴한 순 조회 -->
	<select id="dogcate2" parameterType="categoryVO" resultType="productVO">
		select * from (
		select row_number() over(order by product_price) as p_no, p.* from product p 
			<![CDATA[
				where category2 <= #{end} and category2 >= #{start}
			]]>) p2
		where p_no between #{start_num} and #{end_num}
	</select>
	
	<!-- 쇼핑몰 리스트 가격 비싼 순 조회 -->
	<select id="dogcate3" parameterType="categoryVO" resultType="productVO">
		select * from (
		select row_number() over(order by product_price desc) as p_no, p.* from product p 
			<![CDATA[
				where category2 <= #{end} and category2 >= #{start}
			]]>) p2
		where p_no between #{start_num} and #{end_num}
	</select>
	
	
	<!-- 주문시 상품개수 감소 -->
	<update id="updateCnt" parameterType="productVO">
		UPDATE product SET product_cnt = #{product_cnt} WHERE product_id = #{product_id}
	</update>
		
</mapper>



