<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reply">
	<!-- insert, delete, update는 무조건 resultType="int"이므로
	     프로그래머가 써주지 않아도 이미 resultType="int"가 
	     있는 것으로 본다.!
	 -->
	<insert id="create" parameterType="replyVO" >
		insert into reply  
		values (null, #{title}, #{content}, #{writer})
	</insert>
	
	<delete id="delete"  parameterType="String">
		delete from reply 
		where title = #{title}
	</delete>
	
	<update id="update"  parameterType="replyVO">
		update reply 
		set content = #{content} 
		where no = #{no}
	</update>
	
	<select id="all"  resultType="replyVO">
		select *
		from reply
	</select>
</mapper>



