<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="report">
	<insert id="insertRe" parameterType="reportVO" >
		insert into report(title,animal,location1, content,writer) 
		values( #{title}, #{animal}, #{location1}, #{content}, #{writer})
	</insert>
	
	<delete id="deleteRe"  parameterType="String">
		delete from report 
		where title = #{title}
	</delete>
	
	<update id="updateRe"  parameterType="reportVO">
		update report 
		set content = #{content} 
		where no = #{no}
	</update>
	
	<select id="one" parameterType="Int" resultType="reportVO">
		select * 
		from report
		where no = #{no}
	</select>
	
	<select id="all"  resultType="reportVO">
		select *
		from report
	</select>
</mapper>



