<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="star">
	
	<insert id="insertStar" parameterType="starVO">
		insert into star values (null ,#{service_id}, #{id}, now() ,#{content}, #{kind}, #{explain}, #{treat}, #{facilities}, #{price}, null, null, null)
	</insert>
	
	<delete id="del"  parameterType="starVO">
		delete from star where star_no = #{star_no}
	</delete>
	
	<update id="up"  parameterType="starVO">
		update star set content = #{content} where star_no = #{star_no}
	</update>
	
	<select id="listStar" parameterType="int" resultType="starVO">
		select * from star
		where service_id = #{service_id}
	</select>
</mapper>











