<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="star">
	

	<insert id="insertStar" 
			parameterType="starVO" 
			useGeneratedKeys="true" 
			keyProperty="star_id">
		insert into star values (null ,#{service_id}, #{id}, now() ,#{content}, #{kind}, #{explain}, #{treat}, #{facilities}, #{price}, #{img1}, null, null)
	</insert>
	
	<insert id="insertBill"  parameterType="ocrVO">
		insert into bill values (#{bill_no}, #{bill_brn}, #{bill_name}, #{bill_addr}, #{bill_totalfee})
	</insert>
	
	<insert id="insertBD"  parameterType="ocrVO">
		insert into bill_detail values (#{bill_no}, #{bill_dx}, #{bill_fee})
	</insert>
	
	<delete id="del"  parameterType="starVO">
		delete from star where star_no = #{star_no}
	</delete>
	
	<update id="up"  parameterType="starVO">
		update star set content = #{content} where star_no = #{star_no}
	</update>
	
	<select id="listStar" parameterType="int" resultType="starVO">
		select * from star
		where service_id = #{service_id}
	</select>
</mapper>











