<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">
	<!-- insert, delete, update는 무조건 resultType="int"이므로
	     프로그래머가 써주지 않아도 이미 resultType="int"가 
	     있는 것으로 본다.!
	 -->
	<insert id="insertUser" parameterType="userVO">
		insert into user (user_id, user_pw, user_name, user_email, user_tel, user_nickname, user_addr1, user_addr2, user_addr3, user_addr4, user_addr5, user_interest, user_img, user_level, user_state, user_joindate, user_visit)
		values (#{user_id}, #{user_pw}, #{user_name}, #{user_email}, #{user_tel}, #{user_nickname}, #{user_addr1}, #{user_addr2}, #{user_addr3}, #{user_addr4}, #{user_addr5}, #{user_interest}, "profile.png", "집사", NULL, now(), 0)
	</insert>
	
	<select id="idCheck" parameterType="String" resultType="int">
		select COUNT(*) from user where user_id = #{user_id}
	</select>
	
	<select id="nicknameCheck" parameterType="String" resultType="int">
		select COUNT(*) from user where user_nickname = #{user_nickname}
	</select>
	
	<select id="loginUser" parameterType="Map" resultType="userVO">
		select * from user where user_id = #{id} and user_pw = #{pw}
	</select>
	
	<select id="pwCheck" resultType="String">
		select user_pw from user where user_id = #{user_id}
	</select>
	
	<delete id="deleteUser">
		delete from user where user_id = #{user_id}
	</delete>
	
	<update id="updateUser" parameterType="userVO">
		update user set user_tel = #{user_tel}, user_nickname =  #{user_nickname},
		user_addr1 = #{user_addr1}, user_addr2 = #{user_addr2}, user_addr3 = #{user_addr3}, user_addr4 = #{user_addr4}, user_addr5 = #{user_addr5}, user_img = #{user_img} where user_id = #{user_id}
	</update>
	
	<update id="updatePw" parameterType="Map">
		update user set user_pw = #{password} where user_id = #{id}
	</update>
	
	<select id="all"  resultType="userVO">
		select * from user
	</select>
</mapper>



