<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user_management">
	<!-- insert, delete, update는 무조건 resultType="int"이므로
	     프로그래머가 써주지 않아도 이미 resultType="int"가 
	     있는 것으로 본다.!
	 -->
	<select id="userList" parameterType="userpageVO" resultType="userVO">
		select * from (
		select ROW_NUMBER() over(order by user_joindate desc) as user_no, u.*
		from user u) user2
		 where user2.user_no between ${start} and ${end}
	</select>
	
	<select id="userCount" resultType="Integer">
		select count(*) from user
	</select>
	
	<select id="searchUser" parameterType="userpageVO" resultType="userVO">
		select * from (
		select ROW_NUMBER() over(order by user_joindate desc) as user_no, u.*
		from user u where user_level = '집사'
		 ) user2
		 where user2.user_no between ${start} and ${end}
	</select>
	
	<select id="userSearchCount" resultType="Integer">
		select count(*) from user
		where user_level = '집사'
	</select>
	
	<update id="disableForeignKeyChecks">
    	SET foreign_key_checks = 0
  	</update>

  	<update id="enableForeignKeyChecks">
    	SET foreign_key_checks = 1
  	</update>
	
	<select id="deleteUsers">
		delete from user where user_id = #{userIds}
	</select>
</mapper>



